<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user %>
    <h3> Logged in as <%= current_user.username %> </h3>
    <form class="" action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Log Out">
    </form>
    <% else %>
      <% if flash[:error] %>
        <ul>
        <% flash[:error].each do |err| %>
          <li>
            <%= err %>
          </li>
        <% end %>
        </ul>
      <% end %>
    <% end %>

    <br />
    <%= yield %>
  </body>
</html>
